@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cygro';
    src: url('../../public/fonts/Cygre-Black.ttf');
    src: url('../../public/fonts/Cygre-Bold.ttf');
    src: url('../../public/fonts/Cygre-Book.ttf');
    src: url('../../public/fonts/Cygre-ExtraBold.ttf');
    src: url('../../public/fonts/Cygre-Light.ttf');
    src: url('../../public/fonts/Cygre-Medium.ttf');
    src: url('../../public/fonts/Cygre-Regular.ttf');
    src: url('../../public/fonts/Cygre-semibold.ttf');
    src: url('../../public/fonts/Cygre-Thin.ttf');
}
body {
    background-color: #2388FF;
}
